#sidebar {
    width: 200px;
    margin-right: 8rem;
}

#sidebar-content {
    position: fixed;
    width: inherit;
}

#sidebar-title {
    font-family: var(--font-display);
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 0.05rem;
}

#sidebar-subtitle {
    font-family: var(--font-display);
    margin-top: 0.5rem;
}

#sidebar-links {
    display: flex;
    flex-direction: column;
    font-family: var(--font-display);
    font-weight: bold;
    letter-spacing: 0.05rem;
    margin-top: 4rem;
    
    .link {
        text-decoration: none;
        color: var(--color-acc);
    }

    .link:not(:first-child) {
        margin-top: 1rem;
    }
}