/* Inter */

@font-face {
    font-family: 'Inter';
    src: url(../assets/fonts/Inter-Regular.otf);
}

@font-face {
    font-family: 'Inter';
    src: url(../assets/fonts/Inter-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: 'Inter';
    src: url(../assets/fonts/Inter-Italic.otf);
    font-style: italic;
}

/* Lexend Deca */

@font-face {
    font-family: 'Lexend Deca';
    src: url(../assets/fonts/LexendDeca-Regular.ttf);
}

@font-face {
    font-family: 'Lexend Deca';
    src: url(../assets/fonts/LexendDeca-Bold.ttf);
    font-weight: bold;    
}
