/* Inter */

@font-face {
    font-family: 'Inter';
    src: url(../assets/fonts/Inter-Regular.otf);
}

@font-face {
    font-family: 'Inter';
    src: url(../assets/fonts/Inter-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: 'Inter';
    src: url(../assets/fonts/Inter-Italic.otf);
    font-style: italic;
}

/* Anka Coder */

@font-face {
    font-family: 'Anka Coder';
    src: url(../assets/fonts/AnkaCoder-Regular.ttf);
}

@font-face {
    font-family: 'Anka Coder';
    src: url(../assets/fonts/AnkaCoder-Bold.ttf);
    font-weight: bold;    
}
