#contact-page {
    
}

#contact-links {

    margin-top: 2rem;

    .entryTitle {
        margin-bottom: 1rem;
    }

    .item:not(:first-child) * {
        padding-top: 0.5rem;
    }

    .item-title {
        padding-right: 2rem;
    }

    a {
        color: var(--color-acc);
        transition: color 0.2s;
    }

    a:hover {
        color: var(--color-acc-1);
        transition: color 0.1s;
    }

    a:active {
        color: var(--color-acc-d1);
        transition: color 0.1s;
    }
}