#contact-page {
    
}

#contact-links {

    margin-top: 2rem;

    .entryTitle {
        margin-bottom: 1rem;
    }

    .item:not(:first-child) * {
        padding-top: 0.5rem;
    }

    .item-title {
        padding-right: 2rem;
    }

    a {
        text-decoration: none;
        color: var(--color-body);
        border-bottom: 2px solid var(--color-acc);
        transition: color 0.2s;
    }

    a:hover {
        border-bottom: 3px solid var(--color-acc);
        transition: border-bottom 0.1s;
    }

    a:active {
        border-bottom: 1px solid var(--color-acc);
        transition: border-bottom 0.1s;
    }
}