#education-page {
    
}

#school {
    .entryTitle {
        font-size: 1.5rem;
    }

    .entrySubtitle {
        font-size: 1.5rem;
        margin-top: 0.5rem;
    }

    .entryDescription p {
        margin: 0;
    }
}